body {
    background-image: url("./pics/Christmas-photos-vol-6-21.jpg");
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

h1 {
    font-weight: bold;
    color: rgb(58, 6, 6);
    background-color: rgb(145, 136, 124);    
}